* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
}
.heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
  color: #0f172a;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
.card-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 8px;
  border-width: 0px;
  border-style: solid;
  padding: 24px;
  margin-top: 18px;
  flex-wrap: wrap;
  text-align: center;
}
.image-size {
  height: 80px;
  width: 80px;
}
.profile-heading {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  color: #1e293b;
}
.profile-description {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  color: #1e293b;
}
.image {
  width: 80px;
  height: 80px;
}
